.mobile-header {
  @include vertical-gradient(#228b07, #1f7d07);
  position: relative;
  height: 39px;
  box-shadow: 0 1px 1px rgba(black, 0.4);

  @include after {
    position: absolute;
    background: component-url('off-canvas-menu', 'logo.svg') no-repeat 0 0;
    background-size: 45px 25px;
    height: 25px;
    width: 45px;
    left: 50%;
    margin-left: 45px * -0.5;
    top: 8px;
  }
}

.mobile-header__button {
  background: component-url('off-canvas-menu', 'hamburger.svg') no-repeat 0 0;
  background-size: 18px 16px;
  display: block;
  height: 16px;
  width: 18px;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -8px;
  box-shadow: 0 0 10px rgba(black, 0.2);
}

.mobile-menu {
  width: 280px;
  height: 100vh;
  background: red;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -280px;
  overflow: scroll;
}

.mobile-menu-container {
  -webkit-transition: -webkit-transform 0.5s ease-in-out();
  transition: transform 0.5s ease-in-out();
  &.is-open {
    @include transform(translateX(280px));
    overflow: hidden;
  }
}