.off-canvas {
  &.is-open .off-canvas__body {
    @include transform(translateX(280px));
    overflow: hidden;
  }
}

.off-canvas__body {
  -webkit-transition: -webkit-transform 0.5s ease-in-out();
  transition: transform 0.5s ease-in-out();
  box-shadow: -2px 0 6px rgba(#000, 0.4);
}

.off-canvas__content {
  width: 280px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
}
